/* Estilos para a página de cadastro de treinador Pokémon */
@font-face {
    font-family: 'Pokemon Solid'; /* O nome que você deseja dar à fonte */
    src: url('assets/Pokemon Solid.ttf') format('truetype'); /* Caminho para o arquivo de fonte */
    /* Outras variações de formato de fonte (woff, woff2) podem ser adicionadas para compatibilidade com navegadores diferentes */
}


body {
    font-family: "Arial", sans-serif;
    text-align: center;
    background-color: #2f9122;
}

h1 {
    font-family: 'Pokemon Solid', sans-serif; /* Use a fonte personalizada aqui */
    color: #fffb00;
    text-transform: uppercase;
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 10);
    
    /* Adiciona borda à fonte */
    -webkit-text-stroke: 2px rgb(9, 98, 199); /* Para navegadores WebKit, como Chrome e Safari */
  
    
}



form {
    background-image: url('imgs/textura-de-ladrilhos-de-pedra-em-estilo-cartoon_1639-26613.avif');
    background-color: rgba(255, 255, 255, 0.9);
    
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    background-color: #857777;
    width: 100%;
    padding: 0px;
    margin-bottom: 5px;
    border: 1px solid #181717;
    border-radius: 5px;
    font-size: 16px;
}

label,input[type="text"], input[type="number"], input[type="submit"] {
    font-size: 20px;
    font-family: 'Pokemon Solid', sans-serif; /* Use a fonte personalizada aqui */
    color: #fffb00;
        /* Adiciona borda à fonte */
        -webkit-text-stroke: 0.2px rgb(9, 98, 199); /* Para navegadores WebKit, como Chrome e Safari */
        text-shadow: 2px 2px 7px rgba(0, 0, 0, 10);
        
}
#buttonDiv{
    margin-top: 10px;
    margin-bottom: 10px;

}
button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #990000;
    
}



/* Estilo para o fundo de tela com tema Pokémon */
body::before {
    content: '';
    background-image: url('imgs/RPsf.gif'); /* Adicione uma imagem de fundo Pokémon */
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
}
