body {
  font-family: Arial, sans-serif;
  background-color: #ffd500;
}

#header {
  padding: 0px;
  margin: 10px;
  text-align: center;
  height: 5%;
}
#navbar {
  background-color: #c7a008;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  width: 80%;
  height: auto;
  text-align: center; 
  position: fixed;
  border-radius: 15px;
  left: 50%; 
  transform: translateX(-50%);
}

.back_home {
  position: fixed;
  top: 5.5%;
  left: 3.5%;
  height: fixed;
  width: fixed;
  transform: translateX(-50%);
  background-color: #ff3434;
  padding: 18px 20px;
  border-radius: 15px;
  margin-right: 20px;
}
.back_home .icon {
  transform: scale(1.5);
}

.container{
  margin: 10px;

}

.child{
  width: 50%;
  height: 200px;
  margin: 10px;
  background-color: #c7a008;
  border: 1px solid black;
}