body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffd500;
  }
  
  #header {
    padding: 0px;
    margin: 10px;
    text-align: center;
  }
  
  #content {
    max-width: 95%;
    margin: 10px auto;
    padding: 20px;
    /* background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
    text-align: center; /* Adicionado para centralizar o conteúdo */
  }
  
  #navbar {
    background-color: #c7a008;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 12%;
    display: flex;
    flex-direction: row;
    text-align: center; /* Removido, não é necessário */
    align-items: center;
    position: fixed;
    left: 0; /* Adicionado */
    right: 0; /* Adicionado */
    margin: auto; /* Adicionado */
    border-radius: 15px;
    left: 50%; /* Adicionado */
    transform: translateX(-50%); /* Adicionado */
  }
  
  .back_home {
    position: fixed;
    top: 5.5%;
    left: 3.5%;
    height: fixed;
    width: fixed;
    transform: translateX(-50%);
    background-color: #ff3434;
    padding: 18px 20px;
    border-radius: 15px;
    margin-right: 20px;
  }
  .back_home .icon {
    transform: scale(1.5);
  }
  
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: #000;
    font-size: 30px;
    size: 80%;
  }

  h1 {
    flex-grow: 1; /* Isso faz com que o texto "Configurações" ocupe o espaço restante e se centralize */
  }

  
  