body {
    font-family: "Arial", sans-serif;
    text-align: center;
    background-image: url('imgs/map.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(0px);
}

h1 {
    font-family: 'Pokemon Solid', sans-serif; /* Use a fonte personalizada aqui */
    color: #fffb00;
    text-transform: uppercase;
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 10);
    
    /* Adiciona borda à fonte */
    -webkit-text-stroke: 2px rgb(9, 98, 199); /* Para navegadores WebKit, como Chrome e Safari */
}

.info-box {
    background-color: #f0f0f0; /* Cor de fundo da caixa */
    border: 1px solid #000; /* Borda da caixa */
    padding: 5px; /* Espaçamento interno */
    max-width: 300px; /* Largura máxima da caixa */
    margin: 0 auto; /* Centraliza horizontalmente */
    margin-bottom: 50px; /* Margem inferior */
}

.photo {
    width: 200px; /* Largura da caixa */
    height: 200px; /* Altura da caixa (igual à largura para criar um círculo) */
    background-color: #f0f0f0; /* Cor de fundo da caixa */
    border-radius: 50%; /* Torna a caixa um círculo */
    border: 3px solid #000; /* Borda da caixa */
    text-align: center;
    line-height: 200px; /* Centraliza o conteúdo verticalmente no círculo */
    margin: 0 auto; /* Centraliza horizontalmente */
}