body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #4b4a4a;
}

.book {
    width: 500px; /* Largura total do livro é igual à largura de uma página */
    height: 700px;
    overflow: hidden;
    position: relative;
    display: flex;
    border: 10px solid transparent; /* define uma borda transparente */
    border-image: url('cinza.png') 10 stretch; /* aplica o gradiente à borda */
    box-shadow: 
        0 0 0 30px rgb(241, 17, 17), /* segunda borda vermelha de 10px */
        0 0 0 35px #343434; /* terceira borda azul de 15px */
    background-image: url('Background1.png'); /* Substitua pelo caminho da imagem desejada */
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
}



.page {
    min-width: 500px; /* Altura mínima para garantir que todas as páginas tenham pelo menos essa altura */
    min-height: 700px; /* Altura mínima para garantir que todas as páginas tenham pelo menos essa altura */
    width: 500px; /* Largura fixa para todas as páginas */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('Background1.png'); /* Substitua pelo caminho da imagem desejada */
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    position: absolute;
    transition: transform 0.3s;
}



.lastpage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('lastpage.png'); /* Substitua pelo caminho da imagem desejada */
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    transition: transform 0.3s;
}    

.card {
width: 230px;
border-radius: 20px;
background: #1b233d;
padding: 5px;
overflow: hidden;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
transform: scale(1.05);
}

.card .top-section {
height: 150px;
border-radius: 15px;
display: flex;
flex-direction: column;
background: linear-gradient(45deg, rgb(156, 159, 159) 0%, rgb(236, 238, 238) 100%);
position: relative;
}

.card .top-section .border {
border-bottom-right-radius: 10px;
height: 40px;
width: 130px;
background: white;
background: #1b233d;
position: relative;
transform: skew(-40deg);
box-shadow: -10px -10px 0 0 #1b233d;
}

.card .top-section .border::before {
content: "";
position: absolute;
width: 25px;
height: 15px;
top: 0;
right: -15px;
background: rgba(255, 255, 255, 0);
border-top-left-radius: 10px;
box-shadow: -5px -5px 0 2px #1b233d;
}

.card .top-section::before {
content: "";
position: absolute;
top: 30px;
left: 0;
background: rgba(255, 255, 255, 0);
height: 15px;
width: 15px;
border-top-left-radius: 15px;
box-shadow: -5px -5px 0 2px #1b233d;
}

.card .top-section .icons {
position: absolute;
top: 0;
width: 100%;
height: 30px;
display: flex;
justify-content: space-between;
}

.card .top-section .icons .logo {
height: 100%;
aspect-ratio: 1;
padding: 7px 0 7px 15px;
}

.card .top-section .icons .logo .top-section {
height: 100%;
}

.card .top-section .icons .social-media {
height: 100%;
padding: 8px 15px;
display: flex;
gap: 7px;
}

.card .top-section .icons .social-media .svg {
height: 100%;
fill: #1b233d;
}

.card .top-section .icons .social-media .svg:hover {
fill: white;
}

.card .bottom-section {
margin-top: 15px;
padding: 10px 5px;
}

.card .bottom-section .title {
display: block;
font-size: 17px;
font-weight: bolder;
color: white;
text-align: center;
letter-spacing: 2px;
}

.card .bottom-section .row {
display: flex;
justify-content: space-between;
margin-top: 20px;
}

.card .bottom-section .row .item {
flex: 30%;
text-align: center;
padding: 5px;
color: rgba(170, 222, 243, 0.721);
}

.card .bottom-section .row .item .big-text {
font-size: 12px;
display: block;
}

.card .bottom-section .row .item .regular-text {
font-size: 9px;
}

.card .bottom-section .row .item:nth-child(2) {
border-left: 1px solid rgba(255, 255, 255, 0.126);
border-right: 1px solid rgba(255, 255, 255, 0.126);
}
.imagem {
display: flex; /* Use display flex para centralizar verticalmente e horizontalmente */
justify-content: center; /* Centraliza horizontalmente */
align-items: center; /* Centraliza verticalmente */
height: 100%; /* Define a altura igual à altura do elemento pai */
padding: 2px;
}

.imagem img {
width: 35%;
max-width: 100%; /* Certifica-se de que a imagem não ultrapasse a largura do elemento pai */
max-height: 100%; /* Certifica-se de que a imagem não ultrapasse a altura do elemento pai */
display: block; /* Remove espaço extra abaixo da imagem */
}

.btn {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #5b939a;
    min-width: 200px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 16px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
  }
  
  .btn:hover {
    opacity: .95;
  }
  
  .btn .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
  }
  
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }
  
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }   
  }